* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 16px;
    background-color: transparent;
    border: 0;
}

a:hover, button:hover {
    opacity: 50%;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: black;
}

/* ============ */

.container {
    margin: 0 130px;
}

.header {
    background: linear-gradient(to right, #53269D, #6D31D0);
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.header__nav, .header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    padding: 9px 14px;
    color: white;
}

.header__item a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 140%;
}

.try {
    background-color: #FFDB80;
    padding: 12px 24px;
    border-radius: 30px;
    color: #6D31D0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    width: max-content;
}

.header__burger {
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
}

.header__burger:hover {
    opacity: 1;
}

.header__burger--line {
    height: 2px;
    width: 100%;
    background-color: white;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.content {
    padding-top: 110px;
    
}

.content__about {
    height: 102vh;
    overflow: hidden;
}

.content__intro {
    height: 102vh;
    position: relative;
}

.intro__slide {
    width: 100vw;
    height: 100%;
    background: url("../images/picture_home1.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

.intro__slide:nth-child(2) > .intro__background {
    background: #ffffff;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

.intro__slide:nth-child(3) > .intro__background {
    height: 100%;
    width: 100%;
    background: #B7D6EF;
    background: linear-gradient(90deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
     rgba(183, 214, 239, 0) 53%);
}

.intro__slide:nth-child(2) {
    background: url("../images/offer2_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(3) {
    background: url("../images/offer3_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(4) {
    background: url("../images/business1.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
}
.intro__slide:nth-child(5) {
    background: url("../images/offer5_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(6) {
    background: url("../images/offer6_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top right;
}

.intro__slide:nth-child(4) > .intro__background {
    height: 100%;
    width: 100%;
    background: #746045;
    background: linear-gradient(90deg,#746045 0%,
     #74604500 53%);
}

.intro__slide:nth-child(5) > .intro__background {
    height: 100%;
    width: 100%;
    background: #EAECF1;
    background: linear-gradient(90deg,#EAECF1 0%, #eaecf1a2 36%,
     #eaecf100 53%);
}

.intro__slide:nth-child(6) > .intro__background {
    height: 100%;
    width: 100%;
    background: #8EA1BD;
    background: linear-gradient(90deg,#8EA1BD 0%,
     #8ea1bd00 53%);
}

.intro__pagination {
    right: 50px !important;
}

.swiper-pagination-bullet {
    border: white 2px solid;
    background-color: transparent;
    opacity: 1;
    padding: 2px;
    margin: 20px 0 !important;
}

.questions__list .swiper-pagination-bullet {
    margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: white;
    scale: 1.5;
}


.intro__description {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__tags {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

.intro__tags--name {
    color: #FFDB80;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #6D31D080;
    border-radius: 10px;
    padding: 0 5px;
    position: relative;
}

.intro__tags--name:not(:last-child)::after {
    display: block;
    content: '';
    background-color: white;
    width: 2px;
    height: 10px;
    position: absolute;
    margin-right: -12px;
    top: 25%;
    right: 0;
}

.intro__slide:nth-child(2) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__slide:nth-child(3) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__slide:nth-child(5) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__info {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.intro__info--title {
    font-size: 36px;
}

.intro__info--level {
    font-size: 20px;
}

.intro__text {
    letter-spacing: 0.5px;
    width: 42%;
    line-height: 24px;
}

.intro__try {
    width: max-content;
}

.intro__popular {
    padding-top: 78px;
    padding-bottom: 60px;
    max-width: 85%;
    margin: auto;
    position: relative;
    z-index: 5;
}

.intro__popular--title {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.content__description {
    display: flex;
    flex-direction: column;
}

.content__services {
    background: linear-gradient(180deg, #828CDE 0%,
        #6D31D0 100%);
    padding: 80px 0;
}

.services__title {
    font-size: 36px;
    font-weight: 600;
    padding: 0 40px;
    padding-bottom: 20px;
    color: white;
    text-transform: uppercase;
    position: relative;
    border-bottom: #FDBFA3 4px solid;
    width: max-content;
    margin: auto;
}

.services__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    flex-wrap: wrap;
    gap: 20px;
}

.services__card {
    width: 380px;
    /* height: 515px; */
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services__card--image {
    height: 260px;
    width: 100%;
    overflow: hidden;
    border-bottom-right-radius: 19px;
}

.services__card:nth-child(1) .services__card--image {
    background: url("../images/family.jpg") no-repeat;
    background-position: center;
    background-size: 300%;
}

.services__card:nth-child(2) .services__card--image {
    background: url("../images/business.jpg") no-repeat;
    background-position: center;
    background-size: 100%;
}

.services__card:nth-child(3) .services__card--image {
    background: url("../images/investment.jpg") no-repeat;
    background-position: center;
    background-size: 103%;
}

.services__card--info {
    padding: 20px 0;
    gap: 20px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    color: #434364;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services__card--title {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
}

.services__card--text {
    letter-spacing: 0.5px;
}



.popular__list {
    padding: 16px 0;
    /* display: flex;
    flex-shrink: 1 !important;
    align-items: center; */
    min-width: 0;
    gap: 40px;
}

.popular__card {
    background-color: white;
    width: max-content !important;
    padding: 10px 7.5px;
    border-radius: 12px;
}

.popular__card--name {
    color: #828CDE;
    padding-top: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.content__paradise {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -50px;
    padding: 80px 0;
}

.paradise__image {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.paradise__image:nth-child(1)::after {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    content: '';
    right: 0;
    position: absolute;
    z-index: 2;
}

.paradise__image:nth-child(3)::after {
    width: 55%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    content: '';
    left: 0;
    position: absolute;
    z-index: 1;
}

.paradise__image:nth-child(1) {
    left: 0;
}

.paradise__image:nth-child(3) {
    right: 0;
}

.paradise__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #434364;
    width: 480px;
    position: relative;
    z-index: 2;
    background-color: white;
    /* background: white;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 10%,
     rgba(255, 255, 255, 1) 11%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 0.5) 90%); */
    padding: 0 70px;
}

.paradise__info--title {
    font-size: 40px;
    font-weight: 600;
    line-height: 29px;
    text-transform: uppercase;
}

.paradise__info--text:first-of-type {
    padding-top: 33px;
    padding-bottom: 15px;
}

.paradise__try {
    margin-top: 24px;
    width: max-content;
    align-self: center;
}


.content__reasons, .content__explains {
    background: #FDBFA3;
    background: linear-gradient(180deg, #FEFC9E 0%, #FDBFA3 79%);
    padding: 80px 0;
}

.explains__card--title {
    height: 40px;
}

.reasons__info, .explains__info {
    text-align: center;
    color: #434364;
    width: 50%;
    margin: auto;
}

.reasons__info--title, .explains__info--title {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.reasons__list, .explains__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    color: #434364;
    padding-top: 60px;
}

.reasons__card, .explains__card {
    text-align: center;
    width: 280px;
}

.reasons__icon {
    height: 150px;
    border-radius: 800px;
    background-color: red;
    width: 150px;
    margin: auto; 
    align-content: center;
}

.explains__icon {
    height: 120px;
    border-radius: 800px;
    background-color: red;
    width: 120px;
    margin: auto; 
    align-content: center;
}

.reasons__card:nth-child(1) .reasons__icon {
    background: linear-gradient(180deg, #828CDE 0%,
        #6D31D0 100%);
}

.reasons__card:nth-child(2) .reasons__icon {
    background: linear-gradient(45deg, #FE6F2D 0%,
        #FFD059 100%);
}

.reasons__card:nth-child(3) .reasons__icon {
    background: linear-gradient(45deg, #828CDE 0%,
        #00B8C3 63%);
}

.reasons__card:nth-child(4) .reasons__icon {
    background: linear-gradient(135deg, rgba(255, 186, 175, 0.3) 0%,
        #A651FB 100%);
}


.explains__card:nth-child(1) .explains__icon {
    background: linear-gradient(45deg, #828CDE 0%,
        #00B8C3 63%);
}

.explains__card:nth-child(2) .explains__icon {
    background: linear-gradient(45deg, #FE6F2D 0%,
        #FFD059 100%);
}

.explains__card:nth-child(3) .explains__icon {
    background: linear-gradient(135deg, #2EA3F2 0%,
        #A651FB 100%);
}

.explains__card:nth-child(4) .explains__icon {
    background: linear-gradient(135deg, rgba(255, 186, 175, 0.3) 0%,
        #A651FB 100%);
}

.reasons__card--title {
    color: #6D31D0;
    font-weight: 600;
    font-size: 20px;
    padding-top: 34px;
    padding-bottom: 4px;
    letter-spacing: 0.5px;
}

.explains__card--title {
    color: #6D31D0;
    font-weight: 600;
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 4px;
    letter-spacing: 0.5px;
}

.content__location {
    padding: 80px 0;
}

.location__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434364;
    flex-wrap: wrap;
}


.location__action--title {
    color: #6D31D0;
    font-size: 28px;
    font-weight: 600;
}  

.location__action--subtitle {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.location__action--subtitle::before {
    content: 'Click your mouse over';
}

.location__map {
    position: relative;
    width: 100%;
}

.location__map img {
    position: relative;
}
.location__map--button {
    position: absolute;
    z-index: 6;
    font-weight: 500;
}

.location__paphos {
    color: white;
    background: url("../images/paphos_map_image.png") no-repeat;
    background-size: auto;
    padding: 80px;
    background-position: left;
    margin: auto;
    left: 4px;
    bottom: 44px;
}

.location__paphos::before {
    content: 'PAPHOS';
    margin-left: -40px;
}

.location__limassol {
    color: white;
    background: url("../images/limassol_map_image.png") no-repeat;
    background-size: auto;
    padding: 80px;
    background-position: center bottom;
    margin: auto;
    left: 86px;
    bottom: 7px;
}

.location__limassol::before {
    content: 'LIMASSOL';
}

.location__larnaka {
    color: #434364;
    background: url("../images/larnaka_map_image.png") no-repeat;
    background-size: auto;
    padding: 75px 120px;
    background-position: bottom;
    margin: auto;
    left: 248px;
    bottom: 64px;
}

.location__larnaka::before {
    content: 'LARNAKA';
    margin-left: -50px;
    position: absolute;
}

.location__nicosia {
    color: #434364;
    background: url("../images/nicosia_map_image.png") no-repeat;
    background-size: auto;
    padding: 75px 150px;
    background-position: bottom;
    margin: auto;
    left: 90px;
    bottom: 124px;
}

.location__nicosia::before {
    content: 'NICOSIA';
    margin-left: -30px;
    position: absolute;
}

.location__unused1 {
    background: url("../images/n2cyprusmap2.png") no-repeat;
    background-size: auto;
    padding: 30px 120px;
    background-position: left;
    margin: auto;
    left: 193px;
    top: 112px;
}

.location__unused2 {
    background: url("../images/scyprusmap2.png") no-repeat;
    background-size: auto;
    padding: 140px 160px;
    background-position: top right;
    margin: auto;
    right: 4px;
    top: 3px;
}

.location__info {
    color: #434364;
    text-align: center;
    width: 480px;
    opacity: 0;
    -webkit-box-shadow: 7px 10px 17px -10px rgba(0,0,0,0.41); 
    box-shadow: 7px 10px 17px -10px rgba(0,0,0,0.41);
    margin-right: 10px;
    padding-bottom: 23px;
    border-radius: 12px;
    /* margin-bottom: 23px; */
}

.location__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
    padding: 13px 11px;
}

.location__city {
    margin: 0 50px;
}

.location__city--name {
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.location__city--text {
    font-weight: 500;
    padding: 10px 0;
    letter-spacing: 0.5px;
}

.content__authors {
    background: #828CDE;
    background: linear-gradient(180deg,#828CDE 0%,
        #6D31D0 100%);
    padding: 39px 0;
}

.authors__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authors__info {
    color: white;
    width: 40%;
}

.authors__info--title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 5px;
}

.authors__info--title::after {
    position: absolute;
    content: '';
    background-color: #FDBFA3;
    width: 100%;
    height: 4px;
    left: 0;
    margin-left: -50%;
    bottom: 0;
}

.authors__info--text {
    padding: 10px 0;
    letter-spacing: 0.5px;
}
.authors__info--text:last-of-type {
    margin-bottom: 54px;
}

.authors__try {
    -webkit-box-shadow: 7px 10px 17px -10px rgba(0,0,0,0.41); 
    box-shadow: 7px 10px 17px -10px rgba(0,0,0,0.41);
    width: max-content;
}

.authors__card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 7px 15px 17px -10px rgba(0,0,0,0.41); 
    box-shadow: 7px 15px 17px -10px rgba(0,0,0,0.41);
}

.authors__card--list {
    display: flex;
    justify-content: space-between;
    color: #434364;
}

.authors__card--info {
    display: flex;
    flex-direction: column;
}

.authors__card--image {
    width: 50%;
}

.authors__card--rank {
    padding-top: 24px;
    font-size: 20px;
    color: #6D31D0;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 15px;
}

.authors__card--name {
    letter-spacing: 0.5;
    padding-bottom: 30px;
}

.content__contact {
    padding: 80px 0;
    color: #434364;
    background: #6D31D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg,rgba(110, 49, 208, 0.1) 0%,
        rgba(110, 49, 208, 0.21) 29%, rgba(110, 49, 208, 0.47) 53%, rgba(110, 49, 208, 1) 100%);
}

.contact__title {
    font-size: 36px;
    font-weight: 600;
    padding: 0 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    border-bottom: #FDBFA3 4px solid;
    width: max-content;
    margin: auto;
}

.contact__methods {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact__card {
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__card img {
    width: max-content;
    padding: 6px;
    background: #6D31D0;
    border-radius: 20px;
    background: linear-gradient(90deg, #6D31D0 0%, #AB80EF 100%);
}

.contanct__card--info {
    color: #6D31D0;
    font-size: 20px;
    font-weight: 600;
    padding-top: 5px;
}

.contact__form {
    background-color: rgba(255, 219, 128, 0.5);
    width: 100%;
    padding: 34px 10px;
    margin: auto;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__form--title {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact__fields {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 580px;
    row-gap: 14px;
}

.contact__field {
    background-color: white;
    border-radius: 20px;
    width: 236px;
    padding: 12px 22px;
}

.contact__bigfield {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    padding: 12px 22px;
    resize: none;
}

.contact__field::placeholder, .contact__bigfield::placeholder {
    opacity: 0.5;
}

.contact__agreement {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.contact__checkbox {
    min-width: 32px;
    height: 32px;
    appearance: none;
    border: white 1px solid;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.contact__checkbox:checked::after {
    content: '\2714';
    color: lime;
    font-size: 22px;
    position: absolute;
    right: 25%;
    top: 0;
}

.contact__text, .contact__text--highlight {
    letter-spacing: 0.5px;
}

.contact__text--highlight {
    color: #6D31D0;
    border-bottom: #6D31D0 1px solid;
}

.contact__form--button {
    padding-top: 22px;
    margin: auto;
    display: block;
}

.contact__submit {
    cursor: pointer;
}

.content__partners {
    padding: 80px 0;
    text-align: center;
}

.partners__title {
    font-size: 36px;
    color: #434364;
    font-weight: 600;
    text-transform: uppercase;
}

.partners__list {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.content__questions {
    background: linear-gradient(180deg,#6D31D0 0%, #828CDE 100%);
    padding: 80px 0;
}

.questions__title {
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    position: relative;
    width: 100%;
    text-align: center;
}

.questions__list {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding-top: 60px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    gap: 20px;
    width: 1180px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.questions__card {
    width: 380px !important;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.questions__card--image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url("../images/question.jpg") no-repeat;
    background-size: 100%;
    background-position: top -150px right 0px;
    border-bottom-right-radius: 19px;
}

.question__card--tag {
    color: white;
    padding: 3px 11px;
    background: linear-gradient(135deg,#53269D 0%, #6D31D0 100%);
    border-radius: 20px;
    width: max-content;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.questions__card--info {
    padding: 20px 30px;
    padding-bottom: 40px;
    gap: 20px;
    margin: 0 auto;
    color: #434364;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.questions__card--title {
    font-size: 20px;
    color: #6D31D0;
    font-weight: 600;
    line-height: 32px;
    margin: auto;
}

.questions__card--text {
    letter-spacing: 0.5px;
    line-height: 24px;
}

.questions__list .swiper-pagination-bullet {
    padding: 1px;
}


@media (max-width: 1280px) {
    .container {
        margin: 0 110px;
    }
    .header__links {
        display: none;
    }
    .active {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 120px;
        right: 0;
        padding: 16px 30px;
    }
    .header__item a {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 140%;
    }
    .header__burger {
        display: flex;
    }
    .intro__slide:nth-child(4) > .intro__background {
        background: linear-gradient(180deg,#746045 0%,
        #74604500 53%);
    }

    .intro__slide:nth-child(5) > .intro__background {
        background: linear-gradient(180deg,#EAECF1 0%, #eaecf1a2 36%,
        #eaecf100 53%);
    }

    .intro__slide:nth-child(6) > .intro__background {
        background: linear-gradient(180deg,#8EA1BD 0%,
        #8ea1bd00 53%);
    }
    .paradise__info {
        padding: 0 20px;
    }
    .paradise__image:nth-child(1)::after, .paradise__image:nth-child(3)::after {
        background: none;
    }
    .reasons__list, .explains__list {
        justify-content: center;
    }
    .reasons__info, .explains__info {
        width: 70%;
    }
    .location__action--subtitle {
        font-size: 16px;
    }
    .location__action--subtitle::before {
        content: 'Tap on';
    }

    .location__list {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .authors__list {
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }
    .authors__info {
        width: 100%;
    }
    .questions__list {
        width: 780px;
    }
}


@media (max-width: 999px) {
    .container {
        margin: 0 94px;
    }
    .header__icon--image {
        width: 100px;
    }
    .intro__text {
        width: 70%;
    }
    .popular__list {
        gap: 20px;
    }
    .intro__slide:nth-child(2) > .intro__background {
        background: linear-gradient(180deg,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }

    .intro__slide:nth-child(3) > .intro__background {
        background: linear-gradient(180deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
        rgba(183, 214, 239, 0) 53%);
    }
    .intro__pagination {
        right: 30px !important;
    }
    .content__paradise {
        flex-direction: column;
        padding: 0;
        gap: 40px;
    }
    .content__services {
        padding: 60px 0;
    }
    .services__list {
        padding-top: 40px;
    }
    .services__card {
        width: 100%;
    }
    .services__card:nth-child(1) .services__card--image {
        background: url("../images/family.jpg") no-repeat;
        background-position: center;
        background-size: 200%;
    }
    .paradise__image {
        position: relative;
        width: 100%;
    }
    .paradise__image img {
        width: 100%;
    }
    .paradise__info {
        background: transparent;
        margin: 0;
        padding: 0;
    }
    .reasons__info, .explains__info {
        width: 70%;
    }
    .location__desc {
        width: 100%;
        margin: auto;
    }
    .location__action {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .location__action--title {
        padding: 0;
        margin: 0;
    }
    .location__map {
        display: flex;
        flex-direction: column;
    }
    .location__map--image {
        scale: 0.5;
        align-self: center;
    }
    .authors__info--title {
        text-align: center;
    }
    .authors__info--title::after {
        margin-left: -25%;
    }
    .authors__card {
        align-self: center;
    }
    .contact__fields {
        width: 100%;
    }
    .content__questions .container {
        margin: 0;
    }
    .questions__list {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 0 40px;
    }
    .header__try {
        display: none;
    }
    .content__description {
        flex-direction: column-reverse;
    }
    .intro__description {
        padding-top: 40px;
        align-items: center;
    }
    .intro__tags {
        justify-content: center;
    }
    .intro__slide:nth-child(1) > .intro__background {
        height: 100%;
        width: 100%;
        background: #B7D6EF;
        background: linear-gradient(180deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
        rgba(183, 214, 239, 0) 53%);
    }
    .intro__text {
        width: 90%;
        text-align: center;
    }
    .intro__pagination {
        right: 0 !important;
        bottom: 25px !important;
    }
    .swiper-pagination-bullet {
        margin: 0 10px !important;
    }
    .paradise__info {
        width: 90%;
    }
    .reasons__info, .explains__info {
        width: 100%;
    }
    .reasons__icon img {
        width: 100px;
    }
    .reasons__card, .explains__card {
        width: 160px;
    }
    .reasons__card--title, .explains__card--title {
        padding-top: 24px;
    }
    .content__location .container {
        margin: 0px;
    }
    .location__desc {
        width: 90%;
        margin: auto;
    }
    .location__action {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .location__action--title {
        padding: 0;
        margin: 0;
    }
    .location__map--image {
        scale: 0.5;
    }
    .location__info {
        width: 95%;
    }
    .location__images {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .authors__info--title {
        text-align: start;
    }
    .authors__info--title::after {
        margin-left: 0;
        width: 70%;
    }
    .authors__card--list {
        flex-direction: column;
        text-align: center;
    }
    .authors__card--image {
        width: 100%;
    }
    .authors__card--info > .authors__try {
        align-self: center;
    }
    .content__contact {
        padding: 60px 0;
    }
    .contact__form {
        width: auto;
    }
    .contact__field {
        width: 100%;
    }
    .content__questions .container {
        margin: 0 40px;
    }
    .questions__card {
        width: 100% !important;
    }
    .content__questions .swiper-pagination-bullet {
        margin: 0 7px !important;
    }
}

@media (max-width: 360px) {
    .location__map--image {
        scale: 0.3;
    }
}


