* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 16px;
    background-color: transparent;
    border: 0;
}

a:hover, button:hover {
    opacity: 50%;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: black;
}

/* ============ */

.container {
    margin: 0 130px;
}

.header {
    background: linear-gradient(to right, #53269D, #6D31D0);
    padding: 20px 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header__nav, .header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    padding: 9px 14px;
    color: white;
}

.header__item a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 140%;
}

.try {
    background-color: #FFDB80;
    padding: 12px 24px;
    border-radius: 30px;
    color: #6D31D0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.header__burger {
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
}

.header__burger:hover {
    opacity: 1;
}

.header__burger--line {
    height: 2px;
    width: 100%;
    background-color: white;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.content {
    overflow: hidden;
    padding-top: 110px;
}

.content__intro {
    height: 100vh;
}

.intro__slide {
    width: 100vw;
    height: 100%;
    background: url("../images/picture_home1.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

.intro__slide:nth-child(2) > .intro__background {
    background: #ffffff;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
}

.intro__slide:nth-child(3) > .intro__background {
    height: 100%;
    width: 100%;
    background: #B7D6EF;
    background: linear-gradient(90deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
     rgba(183, 214, 239, 0) 53%);
}

.intro__slide:nth-child(2) {
    background: url("../images/offer2_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(3) {
    background: url("../images/offer3_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(4) {
    background: url("../images/business1.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
}
.intro__slide:nth-child(5) {
    background: url("../images/offer5_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top;
    color: black;
}
.intro__slide:nth-child(6) {
    background: url("../images/offer6_image.png") 0 0 no-repeat;
    background-size: cover;
    background-position: top right;
}

.intro__slide:nth-child(4) > .intro__background {
    height: 100%;
    width: 100%;
    background: #746045;
    background: linear-gradient(90deg,#746045 0%,
     #74604500 53%);
}

.intro__slide:nth-child(5) > .intro__background {
    height: 100%;
    width: 100%;
    background: #EAECF1;
    background: linear-gradient(90deg,#EAECF1 0%, #eaecf1a2 36%,
     #eaecf100 53%);
}

.intro__slide:nth-child(6) > .intro__background {
    height: 100%;
    width: 100%;
    background: #8EA1BD;
    background: linear-gradient(90deg,#8EA1BD 0%,
     #8ea1bd00 53%);
}

.swiper-pagination {
    right: 50px !important;
}

.swiper-pagination-bullet {
    border: white 2px solid;
    background-color: transparent;
    opacity: 1;
    padding: 2px;
    margin: 20px 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: white;
    scale: 1.5;
}


.intro__description {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__tags {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
}

.intro__tags--name {
    color: #FFDB80;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #6D31D080;
    border-radius: 10px;
    padding: 0 5px;
    position: relative;
}

.intro__tags--name:not(:last-child)::after {
    display: block;
    content: '';
    background-color: white;
    width: 2px;
    height: 10px;
    position: absolute;
    margin-right: -12px;
    top: 25%;
    right: 0;
}

.intro__slide:nth-child(2) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__slide:nth-child(3) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__slide:nth-child(5) .intro__tags--name:not(:last-child)::after {
    background-color: black;
}

.intro__info {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.intro__info--title {
    font-size: 36px;
}

.intro__info--level {
    font-size: 20px;
}

.intro__text {
    letter-spacing: 0.5px;
    width: 42%;
    line-height: 24px;
}

.intro__try {
    width: max-content;
}

.intro__popular {
    padding-top: 78px;
    padding-bottom: 60px;
    max-width: 85%;
    margin: auto;
    position: relative;
    z-index: 5;
}

.intro__popular--title {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.popular__list {
    padding: 16px 0;
    /* display: flex;
    flex-shrink: 1 !important;
    align-items: center; */
    min-width: 0;
    gap: 40px;
}

.popular__card {
    background-color: white;
    width: max-content !important;
    padding: 10px 7.5px;
    border-radius: 12px;
}

.popular__card--name {
    color: #828CDE;
    padding-top: 10px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}


@media (max-width: 1280px) {
    .container {
        margin: 0 110px;
    }
    .header__links {
        display: none;
    }
    .active {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 120px;
        right: 0;
        padding: 16px 30px;
    }
    .header__item a {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 140%;
    }
    .header__burger {
        display: flex;
    }
    .intro__slide:nth-child(4) > .intro__background {
        background: linear-gradient(180deg,#746045 0%,
        #74604500 53%);
    }

    .intro__slide:nth-child(5) > .intro__background {
        background: linear-gradient(180deg,#EAECF1 0%, #eaecf1a2 36%,
        #eaecf100 53%);
    }

    .intro__slide:nth-child(6) > .intro__background {
        background: linear-gradient(180deg,#8EA1BD 0%,
        #8ea1bd00 53%);
    }
}


@media (max-width: 1024px) {
    .container {
        margin: 0 94px;
    }
    .header__icon--image {
        width: 100px;
    }
    .intro__text {
        width: 70%;
    }
    .popular__list {
        gap: 20px;
    }
    .intro__slide:nth-child(2) > .intro__background {
        background: linear-gradient(180deg,rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }

    .intro__slide:nth-child(3) > .intro__background {
        background: linear-gradient(180deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
        rgba(183, 214, 239, 0) 53%);
    }
    .swiper-pagination {
        right: 30px !important;
    }
    
}

@media (max-width: 767px) {
    .container {
        margin: 0 40px;
    }
    .header__try {
        display: none;
    }
    .intro__description {
        padding-top: 40px;
        align-items: center;
    }
    .intro__tags {
        justify-content: center;
    }
    .intro__slide:nth-child(1) > .intro__background {
        height: 100%;
        width: 100%;
        background: #B7D6EF;
        background: linear-gradient(180deg,rgba(183, 214, 239, 1) 0%, rgba(183, 214, 239, 0.6) 36%,
        rgba(183, 214, 239, 0) 53%);
    }
    .intro__text {
        width: 90%;
        text-align: center;
    }
    .swiper-pagination {
        right: 0 !important;
        bottom: -100px !important;
    }
    .swiper-pagination-bullet {
        margin: 0 10px !important;
    }
}


