* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    font-size: 16px;
    background-color: transparent;
    border: 0;
}

a:hover, button:hover {
    opacity: 50%;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    color: black;
}

/* ============ */

.container {
    margin: 0 130px;
}

.header {
    background: linear-gradient(to right, #53269D, #6D31D0);
    padding: 20px 0;
    position: sticky;
    z-index: 10;
    width: 100%;
}

.header__nav, .header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    padding: 9px 14px;
    color: white;
}

.header__item a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 140%;
}

.try {
    background-color: #FFDB80;
    padding: 12px 24px;
    border-radius: 30px;
    color: #6D31D0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.header__burger {
    width: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
}

.header__burger:hover {
    opacity: 1;
}

.header__burger--line {
    height: 2px;
    width: 100%;
    background-color: white;
}

.header__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.content {
    overflow: hidden;
}

.intro__slide {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background: url("../images/picture_home1.png") no-repeat;
    background-size: cover;
    background-repeat: round;
    color: white;
}

.intro__slide:nth-child(2) {
    background: url("../images/offer2_image.png") no-repeat;
    background-repeat: round;
    color: black;
}
.intro__slide:nth-child(3) {
    background: url("../images/offer3_image.png") no-repeat;
    background-repeat: round;
    color: black;
}

.intro__description {
    padding-top: 140px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intro__tags {
    display: flex;
    align-items: center;
    gap: 22px;
}

.intro__tags--name {
    color: #FFDB80;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #6D31D080;
    border-radius: 10px;
    padding: 0 5px;
    position: relative;
}

.intro__tags--name:not(:last-child)::after {
    display: block;
    content: '';
    background-color: white;
    width: 2px;
    height: 10px;
    position: absolute;
    margin-right: -12px;
    top: 25%;
    right: 0;
}

.intro__info {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.intro__info--title {
    font-size: 36px;
}

.intro__info--level {
    font-size: 20px;
}

.intro__text {
    letter-spacing: 0.5px;
    width: 42%;
    line-height: 24px;
}

.intro__try {
    width: max-content;
}

.intro__popular {
    padding-top: 78px;
    padding-bottom: 60px;
}

.intro__popular--title {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    /* color: white; */
}


@media (max-width: 1280px) {
    .container {
        margin: 0 110px;
    }
    .header__links {
        display: none;
    }
    .active {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: white;
        border: black 1px solid;
        top: 120px;
        right: 0;
        padding: 16px 30px;
    }
    .header__item a {
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 140%;
    }
    .header__burger {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .container {
        margin: 0 94px;
    }
    .header__icon--image {
        width: 100px;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 0 50px;
    }
    .header__try {
        display: none;
    }
}


